
#container {
    width: 400px;
    height: 400px;
    border: 1px solid rgb(184, 36, 36);
    display: flex;
    flex-wrap: wrap;
}

.square {
    color: blueviolet;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid rgb(184, 36, 36);

}

.hovered {
    background-color: aqua;
}

#button {
    width: 150px;
    height: 20px;
}